@import-normalise;

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
  }

.Contact {
    text-align: center;
    background-color: black;
    background-image: url("../../images/wood_background.jpg");
    background-repeat: repeat;
    background-size: cover;
}