@import-normalise;

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto_Mono/static/RobotoMono-Light.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
  }

.LoginRegister {
    text-align: center;
    background-color: black;
    background-image: url("../../images/wood_background.jpg");
    background-repeat: repeat;
    background-size: cover;
}

.custom-textfield label.Mui-focused {
  color: white;
}

.custom-textfield label {
  color: white;
}

.custom-textfield .MuiOutlinedInput-root fieldset {
  border-color: #007bff;
}

.custom-textfield .MuiOutlinedInput-root:hover fieldset {
  border-color: white;
}

.custom-textfield .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: white;
}

.custom-textfield input {
  color: white;
}

.custom-checkbox .MuiSvgIcon-root {
  color: #007bff;
}